
.bg {
    background: url("../img/bg.png");
}

#wizard .steps {
    display: none;
}

input {
    color: red !important;
}


.input-group input,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append > .input-group-text {
    border-radius: 0 !important;
}

.input-group:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 15px solid black;
    border-right: 15px solid transparent;
    width: 0;
    z-index: 10000;
}
.input-group > .input-group-prepend > .input-group-text {
    background: none;
    border: 2px solid black;
}


.input-group input {
    border: 2px solid black;
    background: white;
}

.input-group > .input-group-append > .input-group-text {
    background: none;
    border: none;
    padding-left: 0.25rem;
}

.spicy-table {
    font-size: 0.875rem;
}

.spicy-table thead th {
    border-bottom: none;
}

.spicy-table td, .spicy-table th {
    border-top: none;
    border-bottom: 1px dashed #dee2e6;
}

.spicy-table .form-control-sm {
    font-size: 0.7rem;
    height: calc(1.5em + .2rem + 2px);
    padding: .1rem .3rem;
    border-radius: 50rem !important;
}

table th.spicy-column-header {
    text-align: left;
    font-weight: normal;
    vertical-align: middle !important;
}

table th.spicy-column, table td.spicy-column {
    width: 60px;
}

label.text-danger {
    text-align: left;
}